{
  plugins: ['syntax-dynamic-import', './noConsoleNoCommentsBabelPlugin/no-console__no-comments.babel.plugin.js'],
  presets: [['env', {
    targets: {
      browsers: ['last 2 versions'],
    },
  }]],
}