{
  "env": {
    "es6": true,
    "browser": true
  },
  "parser": "babel-eslint",
  "parserOptions": {
    "ecmaFeatures": {
      "jsx": true,
      "experimentalObjectRestSpread": true
    },
    "sourceType": "module",
    "allowImportExportEverywhere": true
  },
  "rules": {
    "comma-dangle": [
      1,
      {
        "arrays": "always-multiline",
        "objects": "always-multiline",
        "imports": "always-multiline",
        "exports": "always-multiline",
        "functions": "always-multiline"
      }
    ],
    "indent": [
      "error",
      2,
      {
        "SwitchCase": 1
      }
    ],
    "linebreak-style": "off",
    "max-len": [
      "error",
      120
    ],
    "no-console": [
      "error",
      {
        "allow": [
          "warn",
          "error"
        ]
      }
    ],
    "no-underscore-dangle": [
      "error",
      {
        "allow": [
          "_setOptions",
          "_create",
          "_super",
          "__svg__",
          "_events"
        ],
        "allowAfterThis": true
      }
    ],
    "no-param-reassign": [
      "error",
      {
        "props": false
      }
    ],
    "object-shorthand": "off",
    "no-plusplus": "off",
    "func-names": [
      "error",
      "never"
    ],
    "vars-on-top": [
      "error"
    ]
  },
  "settings": {
    "import/resolver": {
      "webpack": {
        "config": "./webpack.config.js"
      }
    }
  }
}
