* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
html,
body {
  height: 100%;
}
footer,
header {
  background: #0e6d45;
  color: #ffffff;
}
footer .container h1,
header .container h1,
footer .container div,
header .container div {
  margin: 0 10px;
}
footer a,
header a {
  color: #ffffff;
}
.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 15px;
}
.newsLists {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.newsLists-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  height: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.newsLists-content {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto;
  overflow-y: auto;
  background: #649173;
  background: -ms-linear-gradient(#649173, #ddece2);
}
.newsLists,
.newsListsButtons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
}
.newsList {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: start;
      align-content: flex-start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 10px;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 300px;
          flex: 1 1 300px;
}
.newsListButton {
  width: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 80px;
  margin: 10px;
  cursor: pointer;
  background: #ffffff;
  padding: 15px;
  border-radius: 3px;
  border: 2px solid lightgrey;
}
.newsListButton[data-id='bbc-news'] {
  background: url(images/bbc.png);
  background-size: cover;
}
.newsListButton[data-id='abc-news'] {
  background: url(images/abc.png);
  background-size: cover;
}
.newsListButton[data-id='google-news'] {
  background: url(images/google.png);
  background-size: cover;
}
input[type="checkbox"]:checked + .newsListButton {
  border-color: #35e29a;
}
.newsList-title {
  color: grey;
  margin-top: 10px;
  height: 54px;
  text-overflow: ellipsis;
  word-wrap: nowrap;
  overflow: hidden;
  font-size: 18px;
  line-height: 24px;
}
.newsItem {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 20px;
  width: 100%;
  background: #ffffff;
  padding: 15px;
  border-radius: 3px;
  border: 2px solid lightgrey;
}
.newsItem img {
  width: 110px;
  margin-bottom: 10px;
  margin-right: 10px;
  padding-top: 5px;
}
.newsItem__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.newsItem__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.newsItem__title {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  -ms-flex-item-align: center;
      align-self: center;
  margin-bottom: 10px;
}
.newsItem__title a {
  font-weight: 700;
  font-size: 18px;
  text-decoration: none;
  color: #0e6d45;
}
.newsItem__title a:hover {
  text-decoration: underline;
}
.newsItem__public-info {
  color: grey;
  margin-top: 10px;
}
.newsItem__public-info span {
  font-size: 16px;
  line-height: 20px;
}
.separator {
  margin: 0 5px;
}
.requestError {
  color: #ffffff;
  font-size: 18px;
  padding: 10px;
}
.loading-mask {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  font-weight: 700;
  font-size: 30px;
  background: rgba(255, 255, 255, 0.5);
  color: grey;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 9999;
}
.hidden,
input[type=checkbox] {
  display: none;
}
