* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  height: 100%;
}
footer,
header {
  background: #0e6d45;
  color: #ffffff;
}
footer .container h1,
header .container h1,
footer .container div,
header .container div {
  margin: 0 10px;
}
footer a,
header a {
  color: #ffffff;
}
.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 15px;
}
.newsLists {
  flex-wrap: wrap;
}
.newsLists-wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  justify-content: space-between;
}
.newsLists-content {
  flex: 1 0 auto;
  overflow-y: auto;
  background: #649173;
  background: -moz-linear-gradient(#649173, #ddece2);
  background: -webkit-linear-gradient(#649173, #ddece2);
  background: -o-linear-gradient(#649173, #ddece2);
  background: -ms-linear-gradient(#649173, #ddece2);
}
.newsLists,
.newsListsButtons {
  display: flex;
  width: 100%;
}
.newsList {
  display: flex;
  align-content: flex-start;
  flex-wrap: wrap;
  padding: 10px;
  flex: 1;
  min-width: 300px;
}
.newsListButton {
  width: 80px;
  display: flex;
  height: 80px;
  margin: 10px;
  cursor: pointer;
  background: #ffffff;
  padding: 15px;
  border-radius: 3px;
  border: 2px solid lightgrey;
}
.newsListButton[data-id='bbc-news'] {
  background: url(./images/d87ae8ffc16c0fbe170e97a59418d735.png);
  background-size: cover;
}
.newsListButton[data-id='abc-news'] {
  background: url(./images/266e8c86fdade8c6ef1ce8a1b028384e.png);
  background-size: cover;
}
.newsListButton[data-id='google-news'] {
  background: url(./images/273419ed6d33596ee781bd13f354a7ae.png);
  background-size: cover;
}
input[type="checkbox"]:checked + .newsListButton {
  border-color: #35e29a;
}
.newsList-title {
  color: grey;
  margin-top: 10px;
  height: 54px;
  text-overflow: ellipsis;
  word-wrap: nowrap;
  overflow: hidden;
  font-size: 18px;
  line-height: 24px;
}
.newsItem {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-bottom: 20px;
  width: 100%;
  background: #ffffff;
  padding: 15px;
  border-radius: 3px;
  border: 2px solid lightgrey;
}
.newsItem img {
  width: 110px;
  margin-bottom: 10px;
  margin-right: 10px;
  padding-top: 5px;
}
.newsItem__header {
  display: flex;
  width: 100%;
}
.newsItem__info {
  display: flex;
  flex-direction: column;
}
.newsItem__title {
  flex: 1;
  align-self: center;
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 18px;
  text-decoration: none;
  color: #0e6d45;
}
.newsItem__title:hover {
  text-decoration: underline;
}
.newsItem__public-info {
  color: grey;
  margin-top: 10px;
}
.newsItem__public-info span {
  font-size: 16px;
  line-height: 20px;
}
.separator {
  margin: 0 5px;
}
.requestError {
  color: #ffffff;
  font-size: 18px;
  padding: 10px;
}
.loading-mask {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  font-weight: 700;
  font-size: 30px;
  background: rgba(255, 255, 255, 0.5);
  color: grey;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}
.hidden,
input[type=checkbox] {
  display: none;
}
